.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
  margin-left: 100px;
  margin-right: 100px;
}

.relatedproducts h1 {
  color: #171717;
  font-size: 30px;
  font-weight: 600;
}

.relatedproducts hr {
  width: 200px;
  height: 3px;
  border-radius: 10px;
  background: #252525;
}

.relatedproducts-item {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  width: 100%;
}

.relatedproducts-item img {
  width: 250px;
}